<div class="options">
  <div class="items">
    <%= link_to "Sections", admin_sections_path %>
  </div>
  <div class="items">
    <%= link_to "Class", admin_classes_path %>
  </div>
  <div class="items">
    <%= link_to "Fees Structure", admin_fees_path %>
  </div>
  <div class="items">
    <%= link_to "Age Criteria", admin_ages_path %>
  </div>
  <div class="items">
    Student
  </div>
  <div class="items">
    Payment
  </div>
</div>
